body {
    background-color: #000;
}

/*
    Remove scrollbar at all
    TODO: this style should be merged with Terminal.css file from global lib folder
*/
::-webkit-scrollbar {
    color           : #000;
}
#container:-webkit-full-screen {
    width : 100%;
    height: 100%;
}

#container {
    position        : absolute;
    width           : 800px;
    height          : 550px;
    top             : 50%;
    left            : 50%;
    margin-left     : -400px;
    margin-top      : -275px;
}

#terminal {
    width           : 800px;
    height          : 550px;
    font            : 14px monospace;
    font-weight     : bold;
    background-color: #000;
    color           : #AAA;
    border          : none;
    outline         : none;
    resize          : none;
}