#container {
    position        : absolute;
    width           : 800px;
    height          : 550px;
    top             : 50%;
    left            : 50%;
    margin-left     : -400px;
    margin-top      : -275px;
    z-index         : 2;
    opacity         : 0.9;
    border-radius   : 7px;
}

#terminal.terminal {
    width           : 800px;
    height          : 550px;
    border          : none;
    padding         : 15px;
}