/* TODO: reformat and refactor this */
/**
 * Remove scrollbar at all
 */
::-webkit-scrollbar {
    color           : #000;
}

body {
	background      : #000;
    color           : #eee;
	padding         : 0;
	margin          : 0;
	font-weight     : bold;
	overflow        : hidden;
	font-family     : Monospace;
	font-size       : 13px;
	text-align      : center;
}

/**
 * Terminal console
 */
#terminal {
    position        : absolute;
    width           : 500px;
    height          : 400px;
    font            : 14px monospace;
    right           : 5px;
    top             : 50%;
    margin-top      : -200px;
    font-weight     : bold;
    background-color: #000;
    color           : #AAA;
    outline         : none;
    resize          : none;
    border-color    : #222222;
    border-radius   : 7px;
    padding         : 7px;
}