/**
 * Class for the satellite container. This is a div around
 * satellite images and the terminal.
 */
.satellite-ct {
    width           : 490px;
    height          : 446px;
    position        : absolute;
    font            : 14px monospace;
    right           : 5px;
    top             : 50%;
    margin-top      : -223px;
}

/**
 * Style for one satellite within Satellite container
 */
.satellite {
    width           : 64px;
    height          : 64px;
    position        : relative;
    margin          : 15px;
    float           : left;
    background-image: url(./../img/satellite.png);
}

/**
 * Style for loader container
 */
.loader {
    position        : relative;
    top             : 224px;
    left            : -4px;
    width           : 32px;
    height          : 32px;
    float           : left;
    visibility      : hidden;
    background-image: url(./../img/loader.gif);
}
/**
 * Style for loader label
 */
.loader-label {
    position        : relative;
    top             : 224px;
    left            : 10px;
    width           : 400px;
    height          : 32px;
    float           : left;
    padding-top     : 6px;
    text-align      : left;
    visibility      : hidden;
}

/**
 * Style for Terminal console
 */
.terminal {
    position        : relative;
    width           : 474px;
    height          : 300px;

    font            : 14px monospace;
    right           : 5px;
    top             : 50%;
    margin-top      : -223px;
    font-weight     : bold;
    background-color: #000;
    color           : #AAA;
    outline         : none;
    resize          : none;
    border-color    : #222222;
    border-radius   : 7px;
    padding         : 7px;
}