/**
 * Class for the satellite container. This is a div around
 * satellite images and the terminal.
 */
.satellite-ct {
    width           : 490px;
    height          : 466px;
    position        : absolute;
    font            : 14px monospace;
    right           : 5px;
    top             : 50%;
    margin-top      : -223px;
}

/**
 * Style for one satellite within Satellite container
 */
.satellite {
    width           : 64px;
    height          : 64px;
    position        : relative;
    margin          : 15px;
    float           : left;
}

/**
 * Style for loader container
 */
.loader {
    position        : relative;
    top             : 244px;
    left            : 16px;
    width           : 32px;
    height          : 32px;
    float           : left;
    visibility      : hidden;
    background-image: url("https://lh5.googleusercontent.com/-9emJJWmZCAA/UO77-U0VvYI/AAAAAAAAABQ/w-x0XYnwFiI/s0/loader.gif");
}
/**
 * Style for loader label
 */
.loader-label {
    position        : relative;
    top             : 244px;
    left            : 36px;
    width           : 400px;
    height          : 32px;
    float           : left;
    padding-top     : 6px;
    text-align      : left;
    color           : #777777;
    visibility      : hidden;
}

/**
 * Style for Terminal console
 */
.satellite-ct .terminal {
    position        : relative;
    width           : 474px;
    height          : 300px;

    right           : 5px;
    top             : 50%;
    margin-top      : -223px;
    border-color    : #222222;
    border-radius   : 7px;
}